
* {
    margin: 0; /* overwriting built-in margins and paddings that browser may have applied */
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    font-family: "Noto Sans JP", sans-serif; /* be careful cuz this overwrites everything i believe */
}

.body {
    background-color: #1b263b; /* changes safari overflow to this color */
}

a {
    text-decoration: none; /* Removes the underline from all anchor tags*/
}

.another {
    color:#ff725e
}

/* We defined navbar to be able to define the properties of the whole navbar (and its children), namely the color and sizing. 
This allows us to change these properties without changing the child elements' properties (which could have more significant effects on parent elements) */

/* Navigation bar */

.navbar {
    background: #1b263b; /*could use background-color if we want to be more specific*/ 
    height: 8vh;
    width: 100%;
    position: sticky;
    align-items: center; /*aligns the navbar_container to center, but since is has same dimensions it doesnt really change anything but good practice if we have subcontainers that are smaller and we want to center them along y */
    top: 0; /* used with position to define position relative to what -- will be sticky 0px from top of parent container (screen in this case) */
    font-size: 15px;
    justify-content: center;
    display: flex;
    z-index: 1; /* Elements with higher positive z-index values are stacked above elements with lower values.*/
    font: white;
    color: white;
    font-weight: bold;
    font-family: "Noto Sans JP", sans-serif;  /*downloaded using google fonts */
}

.navbar_container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin: 20px;
    font-size: 23px;
}

.elements_container {
    display: flex;
    list-style: none;
    align-items: center;
}

.element {
    justify-content: center;
    padding: 40px;
    align-items: center;
    color: white;
}

.elements_container_signup {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
}

#element_signup {
    background-color: #ff725e;
    margin: 0 20px;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    display: inline-block;
    color: white;
}

#element_login {
    background-color: #b0bec5;
    margin: 0 20px;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    display: inline-block;
    color: white
}

.element:hover {
    transition: all 0.3s ease;
    color: #ff725e;
}

#element_signup:hover {
    transition: all 0.3s ease;
    background-color: white;
    color: #ff725e;
}

#element_login:hover {
    transition: all 0.3s ease;
    background-color: white;
    color: #b0bec5;
}



/* Content 1 */

.main {
    background: #1b263b; /*could use background-color if we want to be more specific*/ 
    height: 710px;
    width: 100%;
    align-items: top; /*aligns the navbar_container to center, but since is has same dimensions it doesnt really change anything but good practice if we have subcontainers that are smaller and we want to center them along y */
    color: white;
    font-family: "Noto Sans JP", sans-serif;
    justify-content: center;
    display: flex;
    z-index: 1; /*Elements with higher positive z-index values are stacked above elements with lower values.*/
}

.main_container {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
}

.content_top {
    height: 200px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#image_block_top_left {
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
    padding-left: 30px;
    margin: 0px;
}

#image_block_top_right {
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding-top: 50px;
    transform: translate(-5px, -60px);
}

#image_block_top_middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    width: 80%;
    transform: translate(-100px, -30px);
}

.content_middle 
{
    height: 200px;
    width: 100%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title_main {
    width: 100%;
    font-size: 60px;
    font-weight: bold;
}

.paragraph_main {
    width: 100%;
    padding: 20px 0;
    font-size: 12px;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form_main {
    padding: 0 30px;
}

#button_main_left {
    background-color: #ff725e;
    font-size: 20px;
    border-radius: 10px;
    cursor:pointer;
    color: white;
    font-weight: bold;
    padding: 4px;
    border: none; 
}

#button_main_right {
    background-color: #b0bec5;
    font-size: 20px;
    border-radius: 10px;
    cursor:pointer;
    color: #fff;
    font-weight: bold;
    padding: 4px;
}

.content_bottom {
    height: 100px;
    width: 100%;
    padding: 100px 0 px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.image_block_bottom {
    height: 100px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images_main {
    width: 190px;
    height: auto;
}

.images_main:hover {
    transform: scale(1.1); /*needs working on  */
}

.p_main {
    background-color: #ff725e;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    display: inline-block;
    padding: 5px;
    transform: translate(80px, -20px);
    font-size: 13px;
}


/* Content 2 */

.more {
    height: 100px;
    width: 100%;
    align-items: top;
    font-size: 15px;
    justify-content: flex-start;
    display: flex;
    background-color: #1c253c;
    color: white;
}

.more_container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.more_break {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.line {
    flex-grow: 1; /* Make the line stretch */
    height: 2px; /* Thickness of the line */
    background-color: white; /* Line color */
    margin: 0 20px;
}

.more_paragraph {
    padding: 0 20px; /* Space between the text and the line */
    font-size: 1.2rem; /* Text size */
    color: white; /* Text color */
    white-space: nowrap; /* Prevent text from wrapping */
    font-weight: bold;
}


/* Content 3 */

.unis {
    height: 250px;
    width: 100%;
    align-items: center; /*aligns the navbar_container to center, but since is has same dimensions it doesnt really change anything but good practice if we have subcontainers that are smaller and we want to center them along y */
    font-size: 15px;
    justify-content: center;
    display: flex;
}

.unis_container {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unis_list {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #1c253c;
}

.unis_p {
    color: #1b263b;
}


.unis_logo_container {
    width: 100%;
    height: 120px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    padding: 20px;
    height: auto;
    width: 10%;
}




/* Content 3 */
.trust {
    height: 500px;
    max-width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid red;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.trust_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trust_header {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1b263b;
}

.trust_body {
    margin-top: 40px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
}

.trust_body::-webkit-scrollbar { 
    width: 0; 
}

.trust_subject {
    min-width: 25%;
    height: 300px;
    margin-left: 20px;
    background-image: url("/static/images/homepage/maths.jpg");
    background-size: cover; /* Cover the entire div, cropping as needed */
    background-position: center; /* Center the image */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
}

.subject_p {
    color: white; /* Text color for contrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Black shadow with some blur */
    font-size: 20px;
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    border-radius: 0 0 10px 10px;
}

/* Content 4 */

.works {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: lightgrey;
}

.works_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 100%;
}

.works_header {
    font-weight: bold;
    font-size: 40px;
}

.works_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid green;
    width: 100%;
    height: 400px;
}

.works_icons_indv {
    margin: 20px;
    border: 2px solid red;
    width: 100%;
    height: 300px;
}

/* Content 5 */

.students {
    height: 200px;
    width: 100%;
    font-size: 12px;
}

.students_container {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.students_header {
    font: bold;
}

.students_reviews_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.reviews {
    margin: 20px;
}


/* Footer */

.footer {
    font-size: 15px;
    height: 150px;
    width: 100%;
    background-color: #b0c4de;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.footer_content {
    font-size: 12px;
}