* {
    margin: 0; /* overwriting built-in margins and paddings that browser may have applied */
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    font-family: "Noto Sans JP", sans-serif; /* be careful cuz this overwrites everything i believe */
}

.body {
    background-color: #1b263b; /* changes safari overflow to this color */
}

a {
    text-decoration: none; /* Removes the underline from all anchor tags*/
}

/* navbar */

.navbar {
    background: #1b263b; /*could use background-color if we want to be more specific*/ 
    height: 60px;
    width: 100%;
    position: sticky;
    align-items: center; /*aligns the navbar_container to center, but since is has same dimensions it doesnt really change anything but good practice if we have subcontainers that are smaller and we want to center them along y */
    top: 0; /* used with position to define position relative to what -- will be sticky 0px from top of parent container (screen in this case) */
    font-size: 15px;
    justify-content: center;
    display: flex;
    z-index: 1; /* Elements with higher positive z-index values are stacked above elements with lower values.*/
    font: white;
    color: white;
    font-weight: bold;
    font-family: "Noto Sans JP", sans-serif;  /*downloaded using google fonts */
}

.navbar_container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin: 20px;
    font-size: 23px;
}

.elements_container {
    display: flex;
    list-style: none;
    align-items: center;
}

.element {
    justify-content: center;
    padding: 40px;
    align-items: center;
    color: white;
}

.elements_container_signup {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
}

#element_signup {
    background-color: #ff725e;
    margin: 0 20px;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    display: inline-block;
    color: white;
}

#element_login {
    background-color: #b0bec5;
    margin: 0 20px;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    display: inline-block;
    color: white
}

.element:hover {
    transition: all 0.3s ease;
    color: #ff725e;
}

#element_signup:hover {
    transition: all 0.3s ease;
    background-color: white;
    color: #ff725e;
}

#element_login:hover {
    transition: all 0.3s ease;
    background-color: white;
    color: #b0bec5;
}


