{% extends "template.html" %}

{% block body %} 

<!-- Navigation Bar -->


<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined">
            rocket_launch
            </span> <a href="/"> Study with Students</a></div>
        <ul class="elements_container">
            <li> 
                <a href="howitworks" class="element">How It Works</a>
            </li>
            <li> 
                <a href="aboutus" class="element">About us</a>
            </li>
            <li> 
                <a href="becometutor" class="element">Become a Tutor</a>
            </li>
        </ul>
        <ul class="elements_container_signup">
            <li>
                <a href="/signup" id="element_signup">Sign Up</a>
            </li>
            <li>
                <a href="/login" id="element_login">Log in</a>
            </li>
        </ul>

    </div>
</div>


<!-- Main Content -->


    <div class="meet_the_team">
        <div class="meet_the_team_container">
            <div class="meet_me">
                <h class="meet_me_h">Hi, <br> I'm Kilian</h>
                <p class="meet_me_p">and I'm the CEO, or something like that.</p>
            </div>
            <div class="kilian_image_container">
                <div class="kilian_image_circle">
                    <img src="/static/images/aboutus/kilian.jpeg" alt="" class="kilian_img">
                </div>
            </div>
        </div>
    </div>

    <div class="my_team">
        <h class="my_team_title">The Team</h>
        <div class="my_team_container">
            <div class="double_back">
                <div class="my_team_profile">
                    <p class="profiles_position">Head of Tutoring and Student Success</p>
                    <img src="/static/images/aboutus/mickey.jpg" alt="" class="profiles_images">
                    <p class="profiles_name">Violaine de Saint-Quentin</p>
                    <p class="profiles_uni">Imperial College</p>
                </div>
            </div>
            <div class="double_back">
                <div class="my_team_profile">
                    <p class="profiles_position">Financial Advisers</p>
                    <img src="/static/images/aboutus/mickey.jpg" alt="" class="profiles_images">
                    <p class="profiles_name">Samen Polishchuk</p>
                    <p class="profiles_uni">King's College</p>
                </div>
            </div>

            <div class="double_back">
                <div class="my_team_profile">
                    <p class="profiles_position">Academic Representative</p>
                    <img src="/static/images/aboutus/mickey.jpg" alt="" class="profiles_images">
                    <p class="profiles_name">Linda Schermeier</p>
                    <p class="profiles_uni">Imperial College</p>
                </div>
            </div>

            <div class="double_back">
                <div class="my_team_profile">
                    <p class="profiles_position">...</p>
                    <img src="/static/images/aboutus/mickey.jpg" alt="" class="profiles_images">
                    <p class="profiles_name">Manel Marcelino</p>
                    <p class="profiles_uni">Nova Lisboa</p>
                </div>
            </div>
            
            <div class="double_back">
                <div class="my_team_profile">
                    <p class="profiles_position">Janitor</p>
                    <img src="/static/images/aboutus/mickey.jpg" alt="" class="profiles_images">
                    <p class="profiles_name">Elliot Borowsky</p>
                    <p class="profiles_uni">UCL - Astrazeniburnes</p>
                </div>
            </div>
            
        </div> 
    </div>

    <img src="/static/images/aboutus/wave2.svg" alt="" class="img_wave_mission">
    
    <div class="whatwedo">
        <div class="whatwedo_container">
            <div class="flex_whatwedo">
                <div class="our_mission_container"> 
                    <h class="our_mission_h"> Our Mission </h>
                </div>
                <div class= "our_mission_div"> 
                    <p class="our_mission_p">Making Learning More Interactive</p>
                    <ul class = "our_mission_p_mini">
                        <li class="mission_list">1.  Provide Innovative and Excellent Tutoring</li>
                        <li class="mission_list">2.  Empower Our Generation</li>
                        <li class="mission_list">3.  Make Tutoring Available to Everyone</li>
                        <li class="mission_list">4.  Make Tutoring Fun</li>
                    </ul>
                    
                </div>
            </div>
            

            <div class="core_values">
                <h class="core_value_h"> Core Values </h>
                <div class="core_values_list">
                    <div class="make_column_flex">
                        <span class="material-symbols-outlined" style="font-size: 120px; color: pink;">school</span>
                        <p class="core_values_p"> Academic Excellence</p>
                    </div>

                    <div class="make_column_flex">
                        <span class="material-symbols-outlined" style="font-size: 120px; color: #bdfcc9;">forum</span>
                        <p class="core_values_p"> Supportive Community</p>
                    </div>

                    <div class="make_column_flex">
                        <span class="material-symbols-outlined" style="font-size: 120px; color: #ffe8cc;">psychology</span>
                        <p class="core_values_p">
                            Innovation in Learning
                        </p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>

    <img src="/static/images/aboutus/wave1.svg" alt="" class="wave_section2">

    <div class="quote">
        <h class="quote_h"> "Who's gonna carry the boats? And the logs?" </h>
        <p class="quote_h_info">
            David Goggins
        </p>
    </div>

    <div class="bottom_cont">
        <div class="future">
            <div class="future_title">
                Our Future
            </div>
            <div class="future_memo">
                We want to build a community of students from all over, bringing learning and integration into one place. If you believe you have what is takes to be a member of this team, don't hesitate to email us at studywithstudents@gmail.com
            </div>
        </div>

        <div class="work_for_us">
            <div class="work_for_us_title">
                Feel like joining the team?
            </div>
            <div class="work_for_us_memo">
                We are always looking for motivated and curious individuals to help us expand and reach out to more and more students!!!
            </div>
        </div>
    </div>
            



<!-- Footer -->
    <div class="footer">
        <div class="footer_container">
            <div class="footer_main">
                <div class="footer_logo">
                    <a href="/" id="footer_logo">
                        <span class="material-symbols-outlined">rocket_launch</span>
                        Study With Students</a>
                </div>
                <div class="social_icons">
                    <a href ="/" class ="social_icon_link" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href ="/" class ="social_icon_link" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div> 
            </div>
            <div class="footer_main">
                <h class="footer_h">About The Company</h>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
            </div>
            <div class="footer_main">
                <h class="footer_h">Quick Shortcuts</h>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
            </div>
            <div class="footer_main">
                <h class="footer_h">The rest</h>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
            </div>
        </div>

        <div class="rights">
            <div class="rights_container">
                <div class="line_footer"></div>
                <i class="fa-regular fa-copyright"></i>
                <i class="website_rights"> Study with Students 2024. All rights reserved.</i>
                <div class="line_footer"></div>
            </div>
        </div>
    </div>

{% endblock %}