{% extends "template.html" %}

{% block body %} 

<!-- Navigation Bar -->

<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined">
            rocket_launch
            </span> <a href="/"> Study with Students</a></div>
        <ul class="elements_container">
            <li> 
                <a href="howitworks" class="element">How It Works</a>
            </li>
            <li>
                <a href="meettheteam" class="element">Meet The Team</a>
            </li>
            <li> 
                <a href="aboutus" class="element">About us</a>
            </li>
        </ul>
        <ul class="elements_container_signup">
            <li>
                <a href="/signup" id="element_signup">Sign Up</a>
            </li>
            <li>
                <a href="/login" id="element_login">Log in</a>
            </li>
        </ul>

    </div>
</div>


<!-- Main Content -->
    <div class="whatwedo">
        <div class="whatwedo_container">
            <div class="flex_whatwedo">
                <div class="our_mission_container"> 
                    <h class="our_mission_h"> Our Mission </h>
                </div>
                <div class= "our_mission_div"> 
                    <p class="our_mission_p">Making tutors our priority and students our family</p>
                    <ul class = "our_mission_p_mini">
                        <li class="mission_list">So</li>
                        <li class="mission_list">So</li>
                        <li class="mission_list">So</li>
                        <li class="mission_list">So</li>
                    </ul>
                </div>
            </div>
            

            <div class="core_values">
                <h class="core_value_h"> Core Values </h>
                <div class="core_values_list">
                    <p class="core_values_p" id="core_1"> Academic Excellence</p>
                    <p class="core_values_p" id="core_2"> Supportive Community</p>
                    <p class="core_values_p" id="core_3"> Innovation in Learning</p>
                </div>
                
            </div>

            <div class="discover_subjects">
                <h class="discover_subjects_h"> Discover our subjects </h>
                <p class="discover_subects_p"> We have a range of stuff...</p>
                <button class="button_discovernow"> Log In Now </button>
            </div>

            <div class="quote">
                <h class="quote_h"> "Who's gonna carry the boats? And the logs?" </h>
                <p class="quote_h_info">
                    David Goggins
                </p>
            </div>

            <div class="future">
                <div class="future_title">
                    Our Future
                </div>
                <div class="future_memo">
                    We want to build a community of students from all over, bringing learning and integration into one place. If you believe you have what is takes to be a member of this team, don't hesitate to email us at studywithstudents@gmail.com
                </div>
                
            </div>

        </div>
    </div>


<!-- Footer -->
    <div class="footer">
        <div class="footer_container">
            <div class="footer_main">
                <div class="footer_logo">
                    <a href="/" id="footer_logo">
                        <span class="material-symbols-outlined">rocket_launch</span>
                        Study With Students</a>
                </div>
                <div class="social_icons">
                    <a href ="/" class ="social_icon_link" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href ="/" class ="social_icon_link" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div> 
            </div>
            <div class="footer_main">
                <h class="footer_h">About The Company</h>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
            </div>
            <div class="footer_main">
                <h class="footer_h">Quick Shortcuts</h>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
            </div>
            <div class="footer_main">
                <h class="footer_h">The rest</h>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
            </div>
        </div>

        <div class="rights">
            <div class="rights_container">
                <div class="line_footer"></div>
                <i class="fa-regular fa-copyright"></i>
                <i class="website_rights"> Study with Students 2024. All rights reserved.</i>
                <div class="line_footer"></div>
            </div>
        </div>
    </div>

{% endblock %}