{% extends "template.html" %}

{% block body %} 

<!-- Navigation Bar -->


<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined">
            rocket_launch
            </span> <a href="/"> Study with Students</a></div>
        <ul class="elements_container">
            <li> 
                <a href="howitworks" class="element">How It Works</a>
            </li>
            <li> 
                <a href="aboutus" class="element">About us</a>
            </li>
            <li> 
                <a href="becometutor" class="element">Become a Tutor</a>
            </li>
        </ul>
        <ul class="elements_container_signup">
            <li>
                <a href="/signup" id="element_signup">Sign Up</a>
            </li>
            <li>
                <a href="/login" id="element_login">Log in</a>
            </li>
        </ul>

    </div>
</div>

<!-- Main Content -->

<!-- Content 1 -->
<div class="main">
    <div class="main_container">
        <div class="content_top">
            <div id="image_block_top_left">
                <img src="static/images/homepage/tutoring.svg" alt="Failed to load" class="images_main">
                <p class="p_main">1-to-1 Tutoring</p>
            </div>
            <div id="image_block_top_middle">
                <img src="static/images/homepage/group.svg" alt="Failed to load" class="images_main">
                <p class="p_main">Group Study Sessions</p>
            </div>
            <div id="image_block_top_right">
                <img src="static/images/homepage/forum1.svg" alt="Failed to load" class="images_main">
                <p class="p_main">Student Forums</p>
            </div>
        </div>
        <div class="content_middle">
            <h class="title_main">MORE THAN JUST <em class="another">ANOTHER</em> <br> TUTORING WEBSITE.</h>
            <p class="paragraph_main">Here, at StudyWithStudents, you can find tutors, talk to students and find out about upcoming events near you. <br> This is your new student portal.</p>
            <div class="form_container">
                <form action="/join" method="GET" class="form_main">
                    <button id="button_main_left"><a href = "/signup">Join Now</a></button>
                </form>
    
                <form action="/talk" method="GET" class="form_main">
                    <button id="button_main_right"><a href = "/contact">Talk To US</a></button>
                </form>
            </div>
        </div>
        <div class="content_bottom">
            <div class="image_block_bottom">
                <img src="static/images/homepage/events.svg" alt="Failed to load" class="images_main">
                <p class="p_main">Events</p>
            </div>
            <div class="image_block_bottom">
                <img src="static/images/homepage/uniguide.svg" alt="Failed to load" class="images_main">
                <p class="p_main">Uni Guidance</p>
            </div>
        </div>
    </div>
</div>


 <!-- Content 2-->
  <div class="more">
        <div class="more_container">
            <div class="more_break">
                <div class="line"></div>
                <p class ="more_paragraph">The First 100% Student Lead Tutoring Website</p>
                <div class="line"></div>
            </div>
        </div>
  </div>

<!-- Content 3 -->
<div class="unis">
    <div class="unis_container">
        <div class="unis_list">
            <p class="unis_p">Tutors from <i style="color: #ff725e">TOP</i> universities...</p>
        </div>
        <div class="unis_logo_container">
            <img src="static/images/homepage/nyu.png" alt="Failed to load" class="images_uni">
            <img src="static/images/homepage/imperial.png" alt="Failed to load" class="images_uni">
            <img src="static/images/homepage/ucl.png" alt="Failed to load" class="images_uni">
            <img src="static/images/homepage/kcl.png" alt="Failed to load" class="images_uni">
            <img src="static/images/homepage/cam.png" alt="Failed to load" class="images_uni">
            <img src="static/images/homepage/oxf.jpg" alt="Failed to load" class="images_uni">
            <img src="static/images/homepage/nus.jpg" alt="Failed to load" class="images_uni">
        </div>
    </div>
 </div>

 <!-- Content 4-->
<img src="/static/images/homepage/wave.svg" alt="no load" class="wave">
<div class="title_subjects">
    Explore. Learn. Repeat.
</div>
<div class="p_subjects">Explore our subjects and find what's interesting to you.</div>
 <div class="subjects">
    <div class="subjects_container">
        <div class="subjects_header">
            <img src="/static/images/homepage/subjects.svg" class="subjects_img">
        </div>
        <div class="subjects_body">
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-calculator" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Mathematics
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-atom" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Physics
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-flask" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Chemistry 
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-flask" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Biology
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-computer" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Comp. Sci.
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-business-time" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Business
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-money-check-dollar" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Economics
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-language" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    English
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-language" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    French
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-paint-roller" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Art
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-brain" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Psychology
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">
                    <i class="fa-solid fa-paint-roller" style="color:#ff725e; font-size: 30px;"></i>
                </div>
                <p class="subjects_p">
                    Art
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">

                </div>
                <p class="subjects_p">
                    Engineering
                </p>
            </div>
            <div class="subjects_subject">
                <div class="icon">

                </div>
                <p class="subjects_p">
                    Law
                </p>
            </div>
            <div class="subjects_subject">
                <p class="subjects_p">
                    Explore All
                </p>
                <div class="icon"></div>
                    <i class="fa-solid fa-arrow-right" style="color:#ff725e; font-size: 30px;"></i>
                </div>
            </div>
        </div>
    </div>
 </div>

 <!-- Content 5 -->

 <div class="choose">
    <div class="choose_container">
        <div class="choose_filler"></div>
        <div class="choose_us">
            <p class="choose_us_p">Why choose us? </p>
            <div class="flex">
                <div class="choose_ben">
                    <p class="choose_p"><i class="fa-regular fa-clock" style="color:#ff725e; font-size: 40px; padding: 1vh"></i> Find Tutors Quickly </p>
                    <p class="choose_p"> <i class="fa-solid fa-layer-group" style="color:#ff725e; font-size: 40px; padding: 1vh"></i> 100% student run </p>
                    <p class="choose_p"> <i class="fa-solid fa-house-laptop"  style="color:#ff725e; font-size: 40px; padding: 1vh"></i></i> Flexible and Online </p>
                </div>
            </div>
            <p class="not_enough">If that's not enough, just know that <span style="color:#ff725e ; font-weight: bold;" >we built this website!</span>  And we care about our students and tutors, because <span style="color:#ff725e; font-weight: bold;">we are tutors.</span> </p>
        </div>
    </div>
   </div>

  <!-- Content 6 -->
   <div class="works">
        <div class="works_container">
            <div class="works_header">  
                <h class="works_header_h">How it works</h>
                <p class="works_header_p"><span class="material-symbols-outlined" style="font-size: 40px; margin-bottom: 1vh;">
                    subdirectory_arrow_right
                    </span> 3 Easy Steps:</p>
            </div>
            <div class="works_icons">
                <div class="works_icons_container" id="scroll_item1">
                    <div class="works_icons_left">
                        <p class="icons_h">1: Create Account</p>
                        <p class="icons_p">Creating your account is quick and easy! You can sign up using an email address or connect through Google.</p> 
                    </div>
                    <div class="works_icons_right">
                        <img src="/static/images/homepage/step1.svg" alt="Not Loaded" class="works_image" style="height: auto; width: 90%">
                    </div>
                </div>
                <div class="works_icons_container" id="scroll_item2">
                    <div class="works_icons_left">
                        <img src="/static/images/homepage/step2.svg" alt="Not Loaded" class="works_image">
                    </div>
                    <div class="works_icons_right" id="icons_2_sp">
                        <p class="icons_h" >2: Select Mode</p>
                        <p class="icons_p">Choose either Student or Tutor mode - don't worry, you can switch anytime.</p>
                    </div>
                </div>
                <div class="works_icons_container" id="scroll_item3">
                    <div class="works_icons_left" id="works_icon_left2">
                        <p class="icons_h">3: Discover Portal</p>
                        <p class="icons_p">Discover our portal and find tutors, events<br> or forums in the blink of an eye</p>
                    </div>
                    <div class="works_icons_right">
                        <img src="/static/images/homepage/step3.svg" alt="Not Loaded" class="works_image">
                    </div>
                </div>
            </div>
        </div>
   </div>


<!-- Content 7 -->

    <div class="becoming">
        <div class="becoming_container">
            <div class="becoming_tutor">
                <p class="becoming_tutor_p">Interested in becoming a tutor? </p>
                <p class="say_less">Say less.</p>
                <div class="flex_become">
                    <img src="/static/images/homepage/becoming_tutor.svg" alt="" class="becoming_tutor_img">
                    <div class="benefits">
                        <p class="becoming_p"> <i class="fa-regular fa-square-check" style="color:#ff725e"></i>  Quick and Easy Verification </p>
                        <p class="becoming_p"> <i class="fa-regular fa-square-check" style="color:#ff725e"></i>  Keep 100% profits </p>
                        <p class="becoming_p"> <i class="fa-regular fa-square-check" style="color:#ff725e"></i>  Flexible and Online </p>
                    </div>
                </div>
                
                <button class="create_profile_now">Create a profile now!</button> 
            </div>
        </div>
    </div>

    <!-- Content 8 -->
    <img src="/static/images/homepage/wave_bottom.svg" alt="No Image" class="wave_bottom">
    <div class="reviews">
        <div class="reviews_container">
            <div class="reviews_header">
                Hear what our students have to say about us
            </div>
            <div class="reviews_list">
                <div class="arrow_side">
                    <span class="material-symbols-outlined" style="font-size: 50px;">
                        keyboard_double_arrow_left
                    </span>
                </div>
                <div class="review_indv_side">
                    <img src="" alt="" class="reviewer_img">
                    <p>Shlonda</p>
                    <p>"This is by far the best website to find reliable tutors quickly. Thanks!"</p>
                    <p style="color: gold; font-size: 30px;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                </div>
                <div class="review_indv_middle">
                    <img src="" alt="" class="reviewer_img">
                    <p>Tiffany</p>
                    <p>"I love this website so much it gives me the giggles everytime I use it"</p>
                    <p style="color: gold; font-size: 30px"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                </div>
                <div class="review_indv_side">
                    <img src="" alt="" class="reviewer_img">
                    <p>Mark</p>
                    <p>Nothing else to say than Suberb.</p>
                    <p style="color: gold; font-size: 30px"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                </div>
                <div class="arrow_side">
                    <span class="material-symbols-outlined" style="font-size: 50px;">
                        keyboard_double_arrow_right
                        </span>
                </div>
            </div>
        </div>
    </div>

   <!-- Footer -->
    <div class="footer">
        <div class="footer_container">
            <div class="footer_main">
                <div class="footer_logo">
                    <a href="/" id="footer_logo">
                        <span class="material-symbols-outlined">rocket_launch</span>
                        Study With Students</a>
                </div>
                <div class="social_icons">
                    <a href ="/" class ="social_icon_link" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href ="/" class ="social_icon_link" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div> 
            </div>
            <div class="footer_main">
                <h class="footer_h">About The Company</h>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
            </div>
            <div class="footer_main">
                <h class="footer_h">Quick Shortcuts</h>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
            </div>
            <div class="footer_main">
                <h class="footer_h">The rest</h>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
                <a href="" class="footer_content">About us</a>
            </div>
        </div>

        <div class="rights">
            <div class="rights_container">
                <div class="line_footer"></div>
                <i class="fa-regular fa-copyright"></i>
                <i class="website_rights"> Study with Students 2024. All rights reserved.</i>
                <div class="line_footer"></div>
            </div>
        </div>
    </div>

{% endblock %}