{% extends "template.html" %}

{% block body %} 

<!-- Navigation Bar -->

<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined">
            rocket_launch
            </span> Study with Students</div>
        <ul class="elements_container">
            <li> 
                <a href="whatwedo" class="element">What We Do</a>
            </li>
            <li>
                <a href="meettheteam" class="element">Meet The Team</a>
            </li>
            <li>
                <a href="contact" class="element">Contact</a>
            </li>
        </ul>
        <ul class="elements_container_signup">
            <li>
                <a href="/signup" id="element_signup">Sign Up</a>
            </li>
            <li>
                <a href="/login" id="element_login">Log in</a>
            </li>
        </ul>

    </div>
</div>

<!-- Main Content -->

<!-- Content 1 -->
<div class="main">
    <div class="main_container">
        <div class="content_top">
            <div id="image_block_top_left">
                <img src="static/images/homepage/tutoring.svg" alt="Failed to load" class="images_main">
                <p class="p_main">1-to-1 Tutoring</p>
            </div>
            <div id="image_block_top_middle">
                <img src="static/images/homepage/group.svg" alt="Failed to load" class="images_main">
                <p class="p_main">Group Study Sessions</p>
            </div>
            <div id="image_block_top_right">
                <img src="static/images/homepage/forum1.svg" alt="Failed to load" class="images_main">
                <p class="p_main">Student Forums</p>
            </div>
        </div>
        <div class="content_middle">
            <h class="title_main">MORE THAN JUST <em class="another">ANOTHER</em> <br> TUTORING WEBSITE.</h>
            <p class="paragraph_main">Here, at StudyWithStudents, you can find tutors, talk to students and find out about upcoming events near you. <br> This is your new student portal.</p>
            <div class="form_container">
                <form action="/join" method="GET" class="form_main">
                    <button id="button_main_left">Join Now</button>
                </form>
    
                <form action="/talk" method="GET" class="form_main">
                    <button id="button_main_right">Talk to us</button>
                </form>
            </div>
        </div>
        <div class="content_bottom">
            <div class="image_block_bottom">
                <img src="static/images/homepage/events.svg" alt="Failed to load" class="images_main">
                <p class="p_main">Events</p>
            </div>
            <div class="image_block_bottom">
                <img src="static/images/homepage/uniguide.svg" alt="Failed to load" class="images_main">
                <p class="p_main">Uni Guidance</p>
            </div>
        </div>
    </div>
</div>


 <!-- Content 2-->
  <div class="more">
        <div class="more_container">
            <div class="more_break">
                <div class="line"></div>
                <p class ="more_paragraph">The First 100% Student Lead Tutoring Website</p>
                <div class="line"></div>
            </div>
        </div>
  </div>

<!-- Content 3 -->
<div class="unis">
    <div class="unis_container">
        <div class="unis_list">
            <p class="unis_p">Students from TOP universities</p>
        </div>
        <div class="unis_logo_container">
            <img src="static/images/homepage/nyu.png" alt="Failed to load" class="images">
            <img src="static/images/homepage/imperial.png" alt="Failed to load" class="images">
            <img src="static/images/homepage/ucl.png" alt="Failed to load" class="images">
            <img src="static/images/homepage/kcl.png" alt="Failed to load" class="images">
            <img src="static/images/homepage/cam.png" alt="Failed to load" class="images">
        </div>
    </div>
 </div>

 <!-- Content 4-->

 <div class="trust">
    <div class="trust_container">
        <div class="trust_header">
            <p class="title_trust">
                Find tutors in more subjects than ever.
            </p>
        </div>
        <div class="trust_body">
            <div class="trust_subject">
                <p class="subject_p">
                    Maths
                </p>
            </div>
            <div class="trust_subject"></div>
            <div class="trust_subject"></div>
            <div class="trust_subject"></div>
            <div class="trust_subject"></div>
            <div class="trust_subject"></div>
            <div class="trust_subject"></div>
            <div class="trust_subject"></div>
            <div class="trust_subject"></div>
        </div>
    </div>
 </div>

  <!-- Content 5 -->
   <div class="works">
    <div class="works_container">
        <div class="works_header">
            How it works
        </div>
        <div class="works_icons">
            <div class="works_icons_indv">
                <p class="icons_h">Step 1</p>
                <p class="icons_p">Create an account with personalised information with your goals and uni situation</p>
            </div>
            <div class="works_icons_indv">
                <p class="icons_h">Step 2</p>
                <p class="icons_p">Discover our portal and find tutors, events or forums</p>
            </div>
            <div class="works_icons_indv">
                <p class="icons_h">Step 3</p>
                <p class="icons_p">Study away</p>
            </div>
        </div>
    </div>
   </div>


   <!-- Content 6-->

   <div class="becoming">
    <div class="becoming_container">
        <div class="becoming_tutor">
            <p class="tutor_p">Interested in becoming a tutor? <br> Say less. </p>
        </div>
        <div class="becoming_tutor_image">

        </div>
    </div>
   </div>
    <!-- Content 6 -->
     <div class="students">
        <div class="students_container">
            <div class="students_header">
                Hear what our students have to say about us
            </div>
            <div class="students_reviews_container">
                <div class="reviews">Review 1</div>
                <div class="reviews">Review 2</div>
                <div class="reviews">Review 3</div>
            </div>
        </div>
     </div>

   <!-- Footer -->
     <div class="footer">
        <div class="footer_container">
            <div class="footer_main">
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
            </div>
            <div class="footer_main">
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
            </div>
            <div class="footer_main">
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
            </div>
        </div>
     </div>

{% endblock %}