{% extends "template.html" %}

{% block body %} 

<!-- Navigation Bar -->

<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined">
            rocket_launch
            </span> Study with Students</div>
        <ul class="elements_container">
            <li> 
                <a href="whatwedo" class="element">What We Do</a>
            </li>
            <li>
                <a href="meettheteam" class="element">Meet The Team</a>
            </li>
            <li>
                <a href="contact" class="element">Contact</a>
            </li>
            <li>
                <a href="signup" class="element">Sign Up</a>
            </li>
        </ul>
    </div>
</div>

<!-- Main Content -->

<!-- Content 1 -->
<div class="main">
    <div class="main_container">
        <div class="content">
            <h class="header_main">TAKE YOUR LEARNING TO <br> THE NEXT LEVEL.</h>
            <p class="paragraph_main">Here, at study with students, we could not give two shits whether you do well as school. <br> IN fact, we are more than happy to rinse you for all your money and leave you jobless.</p>
        </div>
        <img src="static/images/img1.svg" alt="Failed to load" class="img1">
    </div>
</div>


<!-- Content 2 -->
 <div class="unis">
    <div class="unis_container">
        <div class="unis_list">
            Students from TOP universities
        </div>
        <div class="unis_logo_container">
            <img src="static/images/nyu.png" alt="Failed to load" class="images">
            <img src="static/images/imperial.png" alt="Failed to load" class="images">
            <img src="static/images/ucl.png" alt="Failed to load" class="images">
            <img src="static/images/kcl.png" alt="Failed to load" class="images">
            <img src="static/images/cam.png" alt="Failed to load" class="images">
        </div>
    </div>
 </div>

 <!-- Content 3-->
  <div class="more">
        <div class="more_content">
            Why should you trust us? <br> <br> <br> We <u>built</u> this website.
        </div>
  </div>


  <!-- Content 4 -->
   <div class="works">
    <div class="works_container">
        <div class="works_header">
            How it works
        </div>
        <div class="works_icons">
            <div class="works_icons_indv">Step 1</div>
            <div class="works_icons_indv">Step 2</div>
            <div class="works_icons_indv">Step 3</div>
        </div>
    </div>
   </div>


    <!-- Content 5 -->
     <div class="students">
        <div class="students_container">
            <div class="students_header">
                Hear what our students have to say about us
            </div>
            <div class="students_reviews_container">
                <div class="reviews">Review 1</div>
                <div class="reviews">Review 2</div>
                <div class="reviews">Review 3</div>
            </div>
        </div>
     </div>

   <!-- Footer -->
     <div class="footer">
        <div class="footer_container">
            <div class="footer_main">
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
            </div>
            <div class="footer_main">
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
            </div>
            <div class="footer_main">
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
                <div class="footer_content">About us</div>
            </div>
        </div>
     </div>

{% endblock %}