{% extends "template.html" %}

{% block body %}

<!-- Navigation Bar -->

<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined">
            rocket_launch
            </span> <a href="/"> Study with Students</a></div>
        <ul class="elements_container">
            <li> 
                <a href="howitworks" class="element">How It Works</a>
            </li>
            <li>
                <a href="meettheteam" class="element">Meet The Team</a>
            </li>
            <li> 
                <a href="aboutus" class="element">About us</a>
            </li>
        </ul>
        <ul class="elements_container_signup">
            <li>
                <a href="/signup" id="element_signup">Sign Up</a>
            </li>
            <li>
                <a href="/login" id="element_login">Log in</a>
            </li>
        </ul>

    </div>
</div>

<!-- main -->

<div class="how_it_works">
    <div class="how_it_works_container">
        
        <div class="all_in_one">
            <div class="all_in_one_title_div">
                <div class="all_in_one_title">
                    Do more than just<i style="color:#ff725e"> learn.</i> 
                </div>
                <p class="all_in_one_info">
                    Study With Students is an all-inclusive hub for students and tutors alike. We want you to be able to find everything you want right here, with a range of things we offer.
                </p>
                
            </div>


            <div class="all_in_one_content">
                <div class="all_in_one_indv" id="box1">
                    <img src="/static/images/howitworks/tutors.svg" class="all_in_one_content_img">
                    &nbsp;&nbsp;&nbsp;
                    <p class="all_in_one_indv_p">Find tutors</p>
                    <span class="material-symbols-outlined rotate_item_right" style=" font-size: 70px;">
                        more_vert
                        </span>
                </div>
                <div class="all_in_one_indv_left" id="box2">
                    <span class="material-symbols-outlined rotate_item" style=" font-size: 70px;">
                        more_vert
                        </span>
                    <p class="all_in_one_indv_p">Get university guidance</p>
                    &nbsp;&nbsp;&nbsp;
                    <img src="/static/images/howitworks/uni.svg" class="all_in_one_content_img">
                </div>
                <div class="all_in_one_indv" id="box3">
                    <img src="/static/images/howitworks/events.svg" class="all_in_one_content_img">
                    &nbsp;&nbsp;&nbsp;
                    <p class="all_in_one_indv_p">Discover events near you</p>
                    <span class="material-symbols-outlined rotate_item_right" style=" font-size: 70px;">
                        more_vert
                        </span>
                </div>
                <div class="all_in_one_indv_left" id="box4">
                    <span class="material-symbols-outlined rotate_item" style=" font-size: 70px;">
                        more_vert
                        </span>
                    <p class="all_in_one_indv_p">Join study groups</p>
                    &nbsp;&nbsp;&nbsp;
                    <img src="/static/images/howitworks/group.svg" class="all_in_one_content_img">
                    
                </div>
                <div class="all_in_one_indv" id="box5">
                    <img src="/static/images/howitworks/forum.svg" class="all_in_one_content_img">
                    &nbsp;&nbsp;&nbsp;
                    <p class="all_in_one_indv_p">Explore student and tutor forums</p>
                </div>
            </div>
            
        </div>



        <img src="/static/images/howitworks/wave.svg" alt="" class="wave_process">
        <div class="process">
            <div class="process_title">
                Start Exploring in 3 Easy Steps
            </div>
            
            <div class="process_containers_container">
                <div class="process_containers">
                    <div class="process_steps_title">
                        Step 1
                    </div>
                    <img src="/static/images/howitworks/step1.svg" alt="" class="process_steps_img">
                    <p class="process_steps_p">Create an account and personalize your information</p>
                </div>
                <div class="process_containers">
                    <div class="process_steps_title">
                        Step 2
                    </div>
                    <img src="/static/images/howitworks/step2.svg" alt="" class="process_steps_img">
                    <p class="process_steps_p">Explore the hub and see what you like</p>

                </div>
                <div class="process_containers">
                    <div class="process_steps_title">
                        Step 3
                    </div>
                    <img src="/static/images/howitworks/step3.svg" alt="" class="process_steps_img">
                    <p class="process_steps_p">Come back whenever to continue on your journey</p>

                </div>
            </div>

            <button class="button_process">Start Now</button>
            
        </div>

        <div class="becoming_pr">
            <div class="becoming_container_pr">
                <div class="becoming_tutor_pr">
                    <p class="becoming_tutor_p_pr">Interested in becoming a tutor? </p>
                    <p class="say_less_pr">Say less.</p>
                    <div class="flex_become_pr">
                        <img src="/static/images/homepage/becoming_tutor.svg" alt="" class="becoming_tutor_img_pr">
                        <div class="benefits">
                            <p class="becoming_p_pr"> <i class="fa-regular fa-square-check" style="color: #ff725e"></i>  Easy to set up and use </p>
                            <p class="becoming_p_pr"> <i class="fa-regular fa-square-check" style="color:#ff725e"></i>  Keep 100% profits </p>
                            <p class="becoming_p_pr"> <i class="fa-regular fa-square-check" style="color:#ff725e"></i>  Flexible and Online </p>
                        </div>
                    </div>
                    
                    <button class="create_profile_now_pr">Create a profile now!</button> 
                </div>
            </div>
        </div>


        <!-- become a tutor -->
    </div>
</div>



<!-- Footer -->
<div class="footer">
<div class="footer_container">
    <div class="footer_main">
        <div class="footer_logo">
            <a href="/" id="footer_logo">
                <span class="material-symbols-outlined">rocket_launch</span>
                Study With Students</a>
        </div>
        <div class="social_icons">
            <a href ="/" class ="social_icon_link" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href ="/" class ="social_icon_link" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div> 
    </div>
    <div class="footer_main">
        <h class="footer_h">About The Company</h>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
    </div>
    <div class="footer_main">
        <h class="footer_h">Quick Shortcuts</h>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
    </div>
    <div class="footer_main">
        <h class="footer_h">The rest</h>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
    </div>
</div>

<div class="rights">
    <div class="rights_container">
        <div class="line_footer"></div>
        <i class="fa-regular fa-copyright"></i>
        <i class="website_rights"> Study with Students 2024. All rights reserved.</i>
        <div class="line_footer"></div>
    </div>
</div>
</div>
{% endblock %}