{% extends "template.html" %}

{% block body %}

<div class="how_it_works">
    <div class="how_it_works_container">
        <div class="all_in_one">
            This is an all in one placeeee
        </div>

        <div class="process">
            <div class="process_containers">
                Step 1
            </div>
            <div class="process_containers">
                Step 2
            </div>
            <div class="process_containers">
                Step 3
            </div>
        </div>

    </div>
</div>


{% endblock %}