{% extends "template.html" %}

{% block body %}

<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined">
            rocket_launch
            </span> Study with Students</div>
        <ul class="elements_container">
            <li> 
                <a href="whatwedo" class="element">What We Do</a>
            </li>
            <li>
                <a href="meettheteam" class="element">Meet The Team</a>
            </li>
            <li>
                <a href="contact" class="element">Contact</a>
            </li>
        </ul>
        <ul class="elements_container_signup">
            <li>
                <a href="/signup" id="element_signup">Sign Up</a>
            </li>
            <li>
                <a href="/login" id="element_login">Log in</a>
            </li>
        </ul>

    </div>
</div>

<div class="div_hub">
    <div class="div_hub_container">
        <div class="hub_header">
            <h1>Welcome back, {{ name }} </h1>
        </div>
    </div>
</div>


{% endblock %}