{% extends "template.html" %}

{% block body %}

<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined"> rocket_launch
            </span><a href="/"> Study with Students</a></div>
        </div>
    </div>
</div>

<div class="choice">
    <div class="choice_container">
        <div class="choose_student">
            <a href="/hub-student" class="choose_anchor">STUDENT</a>
        </div>
        <div class="choose_tutor">
            <a href="/hub-tutor" class="choose_anchor">TUTOR</a>
        </div>
    </div>
</div>

{% endblock %}