{% extends "template.html" %}

{% block body %}

<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined"> rocket_launch
            </span><a href="/"> Study with Students</a></div>
        </div>
    </div>
</div>

<div class="choice">
    <div class="choice_container">
        <a href="/hub-student" class="choose_student">
            <p  class="choose_anchor_student">STUDENT</p>
        </a>
        <a href="/hub-tutor" class="choose_tutor">
            <p class="choose_anchor_tutor">TUTOR</p>
        </a>
    </div>
</div>

{% endblock %}