{% extends "template.html" %}

{% block body %}

<div class="hub_student_main">
    <div class="hub_sidebar_student_collapsed">
        <button class="sidebar_element_student" id="toggle_btn_collapsed">
            <span class="material-symbols-outlined" style="font-size: 30px;">hub</span> Hub +
        </button>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined"style="font-size: 30px;">
                home
            </span>     Home
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                check_box
            </span> 
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                check
            </span>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                filter_list
            </span>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                add_box
            </span>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                add_box
            </span>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                add_box
            </span>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                add_box
            </span>
        </div>
    </div>

    <!-- When button is toggled -->
    <div class="hub_sidebar_student hide">
        <button class="sidebar_element_student" id="toggle_btn_expanded">
            <span class="material-symbols-outlined" style="font-size: 30px;">close</span>
        </button>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined">
                home
            </span>
            <p>Home</p>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined">
                check_box
            </span>
            <p>Dashboard Student</p>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined">
                check
            </span>
            <p>Sessions Student</p>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined">
                filter_list
            </span>
            <p>Forum</p>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <p>Events Students</p>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <p>Account</p>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <p>Account</p>
        </div>
        <div class="sidebar_element_student">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <p>Account</p>
        </div>
    </div>
    
    <div class="hub_student_rightside">
        <div class="navbar">
            <div class="navbar_container">
                <div class="logo"> <span class="material-symbols-outlined"> rocket_launch
                    </span><a href="/"> Study with Students</a></div>
                <ul class="elements_container_signup">
                    <li>
                        <a href="/hub-student" id="switch_button">Switch Mode Student</a>
                    </li>
                </ul>
    
            </div>
        </div>


        <!-- main content -->
        <div class="hub_content_tutor">
            <div class="hub_body_tutor">
                <div class="tutor_container_flex">
                    <div class="payments">
                        <a href="/payments" class="anchor_tutor">Here are the payments</a>
                    </div>
                    <div class="active_students">
                        <a href="/active-students" class="anchor_tutor">Active Students</a>
                    </div>
                </div>
                <div class="tutor_container_flex">
                    <div class="tutor_profile_link">
                        <a href="/tutor-profile">Tutor Profile</a>
                    </div>
                    <div class="messages_tutor_container"><a href="/messages" class="anchor_tutor">Messages</a></div>

                    <div class="schedule"><a href="/calendar" class="anchor_tutor">Schedule</a></div>
                </div>

                <div class="tutor_container_flex">
                    <div class="hub_header_tutor">
                        <h1>Tutoring time, {{ name }}?</h1>
                    </div>
                </div>
                
                
                
            </div>
        </div>

    </div>
   
</div>




<!-- Footer -->
<div class="footer">
<div class="footer_container">
    <div class="footer_main">
        <div class="footer_logo">
            <a href="/" id="footer_logo">
                <span class="material-symbols-outlined">rocket_launch</span>
                Study With Students</a>
        </div>
        <div class="social_icons">
            <a href ="/" class ="social_icon_link" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href ="/" class ="social_icon_link" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div> 
    </div>
    <div class="footer_main">
        <h class="footer_h">About The Company</h>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
    </div>
    <div class="footer_main">
        <h class="footer_h">Quick Shortcuts</h>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
    </div>
    <div class="footer_main">
        <h class="footer_h">The rest</h>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
        <a href="" class="footer_content">About us</a>
    </div>
</div>

<div class="rights">
    <div class="rights_container">
        <div class="line_footer"></div>
        <i class="fa-regular fa-copyright"></i>
        <i class="website_rights"> Study with Students 2024. All rights reserved.</i>
        <div class="line_footer"></div>
    </div>
</div>


{% endblock %}

