{% extends "template.html" %}

{% block body %}


<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined">
            rocket_launch
            </span><a href="/"> Study with Students</a></div>
        <ul class="elements_container">
            <li> 
                <a href="whatwedo" class="element">What We Do</a>
            </li>
            <li>
                <a href="meettheteam" class="element">Meet The Team</a>
            </li>
            <li>
                <a href="contact" class="element">Contact</a>
            </li>
        </ul>
        <ul class="elements_container_signup">
            <li>
                <a href="/signup" id="element_signup">Sign Up</a>
            </li>
            <li>
                <a href="/login" id="element_login">Log in</a>
            </li>
        </ul>

    </div>
</div>

<div class="login_main">
    <div class="login_image_div">
        <img src="static/images/signup/signup.svg" alt="Failed to load" class="login_image">
    </div>
    <div class="login_main_container">
        <h class="login_h">LOG IN</h>
        <p class = "login_p"> One day or day one?</p>
        <form method="POST" class="login_form" action="/login">
            <div class="inp_login">
                <input type="email" placeholder="Email" name="email" class="name_login">
            </div>
            <div class="inp_login">
                <input type="password" placeholder="Password" name="password" class="name_login">
            </div>
            <div class="button_login">
                <button class="btn_login">Login</button>
            </div>
        </form>
        <div class="no_account">
            <p class="no_account_p">Don't have an account yet?</p>
            <a href="/signup" class="no_account_a">Sign up here</a>
        </div>
    </div>
</div>


{% endblock %}
