{% extends "template.html" %}

{% block body %}

<!-- Navigation Bar -->

<div class="navbar">
    <div class="navbar_container">
        <div class="logo"> <span class="material-symbols-outlined">
            rocket_launch
            </span> <a href="/"> Study with Students</a></div>
        <ul class="elements_container">
            <li> 
                <a href="howitworks" class="element">How It Works</a>
            </li>
            <li> 
                <a href="aboutus" class="element">About us</a>
            </li>
            <li> 
                <a href="becometutor" class="element">Become a Tutor</a>
            </li>
        </ul>
        <ul class="elements_container_signup">
            <li>
                <a href="/signup" id="element_signup">Sign Up</a>
            </li>
            <li>
                <a href="/login" id="element_login">Log in</a>
            </li>
        </ul>

    </div>
</div>


<!-- main content -->
 
<div class="meet_the_team_main">
    <div class="meet_the_team_main_container">
        <h class="meet_the_team_title">Meet The Team</h>

        <div class="meet_the_team_profiles">
            <div class="profile_indv">
                <img src="/static/images/aboutus/kilian.jpeg" alt="" class="profile_img">
                <div class="profile_info">
                    <p class="profile_job">Founder and CEO</p>
                    <p class="profile_name">Kilian Borowsky</p>
                    <p class="profile_uni">Imperial College</p>
                    <p class="profile_about"></p>
                </div>
            </div>

            <div class="profile_indv">
                <img src="" alt="" class="profile_img">
                <div class="profile_info">
                    <p class="profile_job">Head of Finance</p>
                    <p class="profile_name">Manel Marcelino</p>
                    <p class="profile_uni">Nova</p>
                    <p class="profile_about"></p>
                </div>
            </div>

            <div class="profile_indv">
                <img src="" alt="" class="profile_img">
                <div class="profile_info">
                    <p class="profile_job">Head of Operations</p>
                    <p class="profile_name">Enrico Vittori</p>
                    <p class="profile_uni">Imperial College</p>
                    <p class="profile_about"></p>
                </div>
            </div>

            <div class="profile_indv">
                <img src="" alt="" class="profile_img">
                <div class="profile_info">
                    <p class="profile_job">CFO</p>
                    <p class="profile_name">Linda Schermier</p>
                    <p class="profile_uni">Imperial College</p>
                    <p class="profile_about"></p>
                </div>
            </div>

            <div class="profile_indv">
                <img src="" alt="" class="profile_img">
                <div class="profile_info">
                    <p class="profile_job">Head of Communications</p>
                    <p class="profile_name">Elliot Borowsky</p>
                    <p class="profile_uni">UCL</p>
                    <p class="profile_about"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="footer_container">
        <div class="footer_main">
            <div class="footer_logo">
                <a href="/" id="footer_logo">
                    <span class="material-symbols-outlined">rocket_launch</span>
                    Study With Students</a>
            </div>
            <div class="social_icons">
                <a href ="/" class ="social_icon_link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href ="/" class ="social_icon_link" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div> 
        </div>
        <div class="footer_main">
            <h class="footer_h">About The Company</h>
            <a href="" class="footer_content">About us</a>
            <a href="" class="footer_content">About us</a>
            <a href="" class="footer_content">About us</a>
            <a href="" class="footer_content">About us</a>
        </div>
        <div class="footer_main">
            <h class="footer_h">Quick Shortcuts</h>
            <a href="" class="footer_content">About us</a>
            <a href="" class="footer_content">About us</a>
            <a href="" class="footer_content">About us</a>
            <a href="" class="footer_content">About us</a>
        </div>
        <div class="footer_main">
            <h class="footer_h">The rest</h>
            <a href="" class="footer_content">About us</a>
            <a href="" class="footer_content">About us</a>
            <a href="" class="footer_content">About us</a>
            <a href="" class="footer_content">About us</a>
        </div>
    </div>

    <div class="rights">
        <div class="rights_container">
            <div class="line_footer"></div>
            <i class="fa-regular fa-copyright"></i>
            <i class="website_rights"> Study with Students 2024. All rights reserved.</i>
            <div class="line_footer"></div>
        </div>
    </div>
</div>

{% endblock %}