{% extends "template.html" %}

{% block body %} 

<!-- Navigation Bar -->

<div class="navbar">
    <div class="navbar_container">
        <div class="logo"><a href="/"> Study with Students</a></div>
        <ul class="elements_container">
            <li> 
                <a href="templates/whatwedo.html" class="element">What We did</a>
            </li>
            <li>
                <a href="/" class="element">Meet The Team</a>
            </li>
            <li>
                <a href="/" class="element">Contact</a>
            </li>
            <li>
                <a href="/" class="element">Sign Up</a>
            </li>
        </ul>
    </div>
</div>

<!-- Main Content -->

{% endblock %}